* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(57, 56, 56);
}

.main-container {
    width: 96%;
    margin: 50px auto;
    background-color: white;
}

header {
    width: 100%;
    padding: 30px 30px;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-image {
    width: 200px;
    height: 30px;
}

menu {
    width: 100%;
    height: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7%;
    overflow: hidden;
    background-color: rgba(50, 51, 78, 0.919);
    transition: 0.3s;
    top: 53px;
    left: 0;
    right: 0;
  
    
}
menu a{
    width: 85%;
    color: white;
    font-size: 25px;
    font-weight: 400;

}

.border-link{
    border-top: 1px solid gray;
    padding-top: 40px;
}

.contact{
    border-bottom: 1px solid gray;
    padding: 20px 0;
}

menu a:last-child{
    border: 2px solid white;
    padding: 14px 150px;
}

.burger {
    width: 20px;
    height: 20px;
    background-image: url(./images/icon-hamburger.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.burger:hover {
    background-image: url(./images/icon-close.svg);
}

.drop-down-menu:hover menu {
    height: 700px;
}

.percent{
    margin-bottom: 120px;
}

.percent img {
    width: 100%;
}

.bring {
    text-align: center;
}

.bring>* {
    margin-bottom: 20px;
}

.percent h2 {
    color: #0e0e29;
    font-size: 35px;
    padding: 0 80px;
}

.bring>p {
    color: gray;
    padding: 0 40px;
}

.chrome-button{
    width: 40%;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    background-color: #655ddb;
    color: white;
    margin-right: 4%;
}

.firefox-button{
    width: 40%;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    background-color: white;
    color: rgb(15, 15, 15);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
}

.speed{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 21px;
    padding: 40px 0;
}

.speed span{
    padding: 15px 0;
}

.speed span:first-child{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 80%;
}

.speed span:last-child{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 80%;
}

.one-click{
    margin-bottom: 40px;
}

.features-tab1 img{
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
}

.more-info{
    display: none;
}

.browsers{
    text-align: center;
    padding: 0 30px;
    margin-bottom: 50px;
}

.download-extension{
    margin-bottom: 50px;
}

.download-extension>h2{
    color: #0e0e29;
    margin-bottom: 10px;
}

.download-extension>p {
    color: gray;
    padding: 0 30px;
}

.browser-install{
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 30px 0 20px 0;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.41);
}

.browser-install>img{
    margin-bottom: 30px;
}

.browser-install>h3{
    margin-bottom: 10px;
}

.image-line{
    width: 100%;
}

.browser-install>p{
    margin-bottom: 30px;
    color: gray;
}

.browser-install>button{
    background-color: blue;
    color: white;
    padding: 10px 45px;
    border-radius: 8px;
    border: none;
}

.questions{
    text-align: center;
}

.blue-container{
    text-align: center;
    background-color: #5266df;
}

.blue-container>h5{
    color: white;
    padding-top: 30px;
}

.blue-container>h2{
    color: white;
    padding: 30px 80px;
}

.input-contact{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0 30px 30px 30px;
}

.input-contact>input{
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border: none;
}

.input-contact>button{
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #fb5859;
}

footer{
    text-align: center;
    background-color: #242946;
}

footer>img{
    color:white;
    padding: 20px;
}

.features{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
}

.features a{
    color: gray;
}

.facebook{
    margin-right: 10px;
}