<!-- two way binding example -->
<!-- <p>two way bining!</p>
<input type="text" [(ngModel)]="name">
<br>
<br>
<button (click)="changeName()">change name</button>
<br>
<p>name: {{name}}</p> -->

<hr>
<!-- angular driven form example -->
<p>template driven form example!</p>

<form #f="ngForm" (ngSubmit)="submit(f)">
  <!-- first name -->
  <div class="form-field">
    <input type="text" ngModel name="firstName" placeholder="first name" required>
  <br>
  <span *ngIf="f.controls['firstName']?.invalid && f.controls['firstName'].touched">
    first name is required
  </span>
  </div>
  
  <br><br>
<div class="form-field">
  <!-- last name -->
    <input type="text" ngModel name="lastName" placeholder="last name" required>
  <br>
  <span *ngIf="f.controls['lastName']?.invalid && f.controls['lastName'].touched">
    last name is required
  </span>
  <br><br>
</div>

<div class="form-field">
  <!-- mail -->
    <input type="mail" ngModel name="mail" placeholder="email" required>
  <br>
  <span *ngIf="f.controls['mail']?.invalid && f.controls['mail'].touched">
    email is required
  </span>
  <br><br>
</div>

<div class="form-field">
  <!-- phone number -->
    <input type="number" ngModel name="phoneNumber" placeholder="phone number"  required>
  <br>
  <span *ngIf="f.controls['phoneNumber']?.invalid && f.controls['phoneNumber'].touched">
    phone number is required
  </span>
  <br><br>
</div>

<div class="form-field">
  <!-- radio -->
<p>Please select your gender:</p>
  <input type="radio" id="html" name="gender" >
  <label for="female">female</label><br>
  <input type="radio" id="css" name="gender" >
  <label for="male">male</label>
<br><br>
</div>

<input type="submit"  value="sub" [disabled]="f.invalid">
</form>