*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A2A33;
}

.board{
    margin: 5vw 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.menu-board{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.turn{
    background-color: #A8BFC9;
    border-radius: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:30px;
  }

.grid-item {
    background-color: #1F3641;  
    width: 10vw;  
    height: 10vw;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 3px -3px rgba(0,0,0,0.1);
  }

.X_icon{
    display: none;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.X_active{
    display: flex;
}

.O_icon{
    display: none;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.results-board{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:30px;
    margin: 30px 0;
}

.X-win-board,.Drow-board,.O-win-board{
    width: 100%;
    height: 5vw;
}

.X-win-board{
    background-color: #31C3BD;    
}

.Drow-board{
    background-color: #A8BFC9;    
}

.O-win-board{
    background-color: #F2B137;   
}

.Winning_board{
    font-size:7vw;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: #31C3BD;
}

.Winning_board.active{
    display: flex;
}

.quit_btn{
    background-color: #A8BFC9;
}

.nextround_btn{
    background-color: #F2B137;
}