*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(62, 61, 61);
}

.main-container{
    margin: 0 auto;
    width: 75vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.pattern{
    width: 100%;
    height: 35%;
    background-image: url(./images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pink-side{
    width: 100%;
    height: 65%;
    background-color: rgb(250 237 254);
}

.center-container{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 30%;
    top:20%;
    background-color: white;
}

.text-information{
    display: flex;
    justify-content: space-between;
    padding: 3% 10%;
    font-size: 1vw;
}

.faqs{
    display: flex;
    align-items: center;
    padding: 5% 9% ;
    font-size: 2vw;
}

.star-icon{
    width: 8%;
    height: 8%;
}

.plus-icon {
    background-image: url(./images/icon-plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5vw;
    height: 1.5vw;
}

.plus-icon:hover {
    background-image: url(./images/icon-minus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5vw;
    height: 1.5v2;
}

.portfolio{
    display: none;
    padding: 3% 10%;
    font-size: 1vw;
    color: rgb(148, 146, 146);
}

.plus-icon:hover~.portfolio{
    display: flex;
}