*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #1f2022;
}

.maincontainer{
    background-color: #edf2f8;
    margin: 0 auto;
    max-width:230px;
    padding: 12px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.job{
    background-color:#7f2dc4;
    width: 100%;
    color: white;
    border-radius: 7px;
    margin-bottom: 12px;
}

.job>div{
    margin: 4%;
    padding: 6%;
}

.emt{
    color: rgb(196, 194, 194);
    font-size: 13px;
}

.team{
    background-color: #4b546a;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 12px;
    color: white;
}

.team>div{
    margin:4%;
    padding: 6%;
}

.ipsum{
    color: #979aa1;
    font-size: 11px;
}

.wonderful{
    background-color: white;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 12px;
}

.wonderful>div{
    margin:2%;
    padding: 6%;
}

.dolor{
    color: rgb(115, 113, 113);
    font-size: 11px;
}

.tas{
    background-color: #191f2c;
    color: white;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 12px;
}

.tas>div{
    margin: 4%;
    padding: 6%;
}

.amet{
    color: rgb(168, 167, 167);
    font-size: 11px;
}

.experience{
    width: 100%;
    background-color: white;
    border-radius: 7px;
}

.experience>div{
    margin: 4%;
    padding: 6%;
}

.nesciunt{
    color: rgb(106, 105, 105);
    font-size: 11px;
}

.imgdesign{
    display: flex;
    align-items: center;
}

.imgborder{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}